@import '../variable';



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    direction: rtl;
    text-align: right;
}


.login .btn {
  padding: .7rem 1.5rem;
  border-radius: 6px;
  &:focus,&:active {
    box-shadow: none !important;
  }
}

.login .btn-primary{
    background-color: $color-btn !important;
    border:none;
}

.login .main{
    height:100vh;
}
.login .box{
    // padding-top:7.6rem;

    &__style{
        width:100%;
    }
   
}

.login .text{
    padding:20px 0;
    &__h3{
        color:$color-h-blue;
        font-size: 2rem;
    }
    &__p{
        color:$color-p-light;
        font-size:1rem;
    }
}

.login .forms{
    padding:10px 0;
    .form-group{

        input{
            border-radius:10px;
            height:42px;
            font-size: .9rem;
            color:$color-p-light;
            
        }
        input::placeholder{
            color:$color-p-light;
        }

        p{
            font-size: .8rem;
            color:$color-green;
            margin:10px 0;
        }
    }
}

.login .btn-style{
    margin:20px 0;
    border-radius: 10px;
    padding: 10px 0;
    height: auto;
    transition:all 0.3s;
}


.login .image{
    padding:30px 10px;
    &__style{
       width:100%;
       height:360px;
    }
}

.login .a-style{
    text-decoration: none;
    color:$color-green;
    margin-top:3rem !important;
    display: inline-block;
}
.login .a-style:hover{
    color:$color-h-blue;

}



@media screen and (max-width:992px){
    html{
        font-size:14px;
    }
    .login .box{
        padding:6rem 0 2rem;
       
    }

    .login .a-style{
      margin-top:2.7rem !important;
  }
    
}

@media screen and (min-width: 929px) and (max-width:992px) { 
  .login .forms{
      max-width: 400px !important;
    }
}

@media screen and (min-width: 768px) and (max-width:929px) { 
  .login .forms{
    max-width: 350px !important;
  }
}

@media screen and (min-width: 768px) and (max-width:900px) { 
  .login .forms{
    max-width: 320px !important;
  }
}

@media screen and (min-width: 768px) and (max-width:868px) { 
  .login .forms{
    max-width: 290px !important;
  }
  .login .img-style{
    max-width:390px !important;
    margin-top:60px !important;
  }
}

@media screen and (max-width:768px){
    html{
        font-size:13px;
    }
    .login .box{
        padding:3rem 0 2rem;
    }
    
    .login .forms{
        padding:10px 0;
        .form-group{
    
            input{
                height:38px;
                
            }
            
    
            }
    }
    
    .login .image{
        padding:20px 10px;
    }

    
    .login .a-style{
      margin-top:2rem !important;
  }
    
}

.login .form-control {
  height: calc(1.8em + 0.75rem + 5px) !important;
  border: 1px solid #ccc;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 1.5rem;
  &:focus {
    color: #000 !important;
    border: 2px solid $primary;
    box-shadow: none;
  }

  &:hover {
    border-color: $primary;
  }

  &.input--radius {
    border-radius: 50px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}


.login .hidden--visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
