$primary: #54D0FF  ;
$primary-light:#7fdafc ;
$primary-color:#232e64 !important;
$text-color:#6c757d !important;
$text-color-p:#23ad6a;




/*== SideNav Color ===*/
$color-nav:#2F3E46;
$color-blue:#060266;
$color-black:#000000;
$color-nav-icon:#707070;
$white:#FFFFFF;



/* === Conent Color ====*/
$color-body:#FAFAFA;


$color-p:#6C757D;
$color-h:#000000;
$color-table:#00B4D8;
$color-blue-text-table:#03045E;
$color-table-item:rgba(79, 196, 250, 0.13);




/* === LogIn Page Color ====*/

$color-h-blue:#060266;
$color-p-light:#989696;
$color-btn:#54D0FF;
$color-green:#0A7036;
$color-red:rgb(247, 22, 22);




